@media (max-width:320px) {
    .wrapper span{
    position: fixed;
    top: -120px;
    height: 20px;
    width: 20px;
    animation: animate 8s linear infinite;
    z-index: -1;
}
.wrapper span:nth-child(1){
    left: 80px;
    animation-delay: 0.6s;
    border: 1px solid rgb(9, 176, 242);
    background: #1904f6;
}
.wrapper span:nth-child(2){
    left: 60%;
    animation-delay: 3s; 
    width: 10px;
    height: 10px;
    background: #f22809;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
    border: 1px solid #1904f6;
    background: red;
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 30px;
    height: 30px;
    background: #ebd005;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
    border: 1px solid #ff4293;
    background: #befb46;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
    border: 1px solid rgb(5, 179, 247);
    background: beige;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 15px;
    height: 15px;
    background: #ffd59e;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
    border: 2px solid #befb46;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 25px;
    height: 25px;
    background: rgb(139, 230, 43);
}
.wrapper span:nth-child(10){
    left: 20%;
    animation-delay: 4s;
    border: 1px #fa0606;
}
.wrapper span:nth-child(11){
    left: 45%;
    animation-delay: 2s;
    width: 9px;
    height: 9px;
    background: #f00eec;
}
.wrapper span:nth-child(12){
    left: 10%;
    animation-delay: 7s;
    width: 18px;
    height: 18px;
    background: #ef09cc;
}

   .game-heading{
    font-size: 18px;
   }
    .heading{
    font-family: var(--fontPop);
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    line-height: auto;
    letter-spacing: 0;
    margin-top: 40px;
    width: 250px;
    margin: 0 auto;
    padding-top: 40px;
    }
    .input{
    font-family: var(--fontPop);
    font-weight: bold;
    font-size: 10px;
    color: #000000;
    line-height: auto;
    background: #ffffff80;
    letter-spacing: 0;
    padding: 10px 20px 10px 10px;
    border-radius: 79px;
    margin: 26px 196px 16px 196px;
    border: 1px solid rgb(211, 205, 205);
    width: 250px;
}
.btn{
    font-family: var(--fontPop);
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    line-height: auto;
    letter-spacing: 0;
    padding: 5px 30px;
    border-radius: 53px;
    background: #4609c7;
    cursor: pointer;
    transition: all .3s linear;
    border: none;
}
.display{
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 100px;
    display: none;
    z-index: 99999;
    background: rgba(240, 232, 238, 0.25);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.display .heading{
    text-align: center;
    font-family: var(--fontPop);
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 20px;
    width: 250px;
}
.game-heading{
    font-family: var(--fontPop);
    color: #1904f6;
}
.player-Two h2{
    font-size: 12px;
    margin-top: 10px;
}
.display{
    margin-top: 50px;
}
.display .display-btn{
    margin-bottom: 10px;
}
.main-Err, .playerOne-Err, .playerTwo-Err{
    font-size: 12px;
}

}















